@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open sans", sans-serif;
}

h1{
  font-size: 3em;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  body {
    font-size: 1rem;
  }
}
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}


#value {
  font-size: 6rem;
  font-weight: bold;
}

.btn{
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid #222;
  margin: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.btn:hover{
  background: #222;
  color: #fff;
}